trigger:
  branches:
    include:
      - main  

variables:
  PYTHON_VERSION: '3.9'
  ARTIFACT_NAME: 'HaroldSneiderOrosteguiAlfonso-$(Build.BuildId).zip'

stages:
- stage: Build
  displayName: "Stage 1 - Integración Continua"
  jobs:
    - job: BuildJob
      displayName: "Compilar y Empaquetar"
      pool:
        vmImage: 'ubuntu-latest'
      steps:
        - script: |
            echo "Usando Python versión: $(PYTHON_VERSION)"
          displayName: "Mostrar variable de entorno"

        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(PYTHON_VERSION)'
        - script: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            python -m unittest discover
          displayName: "Instalar dependencias y ejecutar pruebas"


        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
            includeRootFolder: false
            archiveType: 'zip'
            archiveFile: '$(Build.ArtifactStagingDirectory)/$(ARTIFACT_NAME)'
            replaceExistingArchive: true
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(ARTIFACT_NAME)'
            ArtifactName: 'drop'
            publishLocation: 'Container'


- stage: Deploy
  displayName: "Stage 2 - Despliegue Continuo"
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
    - deployment: DeployJob
      displayName: "Desplegar en AWS"
      environment: "aws-deployment"
      pool:
        vmImage: 'ubuntu-latest'
      variables:
        awsRegion: 'us-east-1' 
        serviceConnectionName: 'AWS' 
      strategy:
        runOnce:
          deploy:
            steps:
            - task: S3Upload@1
              displayName: "Subir artefacto a S3"
              inputs:
                awsCredentials: 'AWS'
                regionName: '$(REGION)'
                bucketName: 'pruebas-devops1'
                sourceFolder: '$(Pipeline.Workspace)/drop'
                globExpressions: '$(ARTIFACT_NAME)'
                targetFolder: '' 
                
            - task: BeanstalkCreateApplicationVersion@1
              displayName: "Crear versión en Elastic Beanstalk"
              inputs:
                awsCredentials: 'AWS'
                regionName: '$(REGION)'
                applicationName: 'Pruebas'
                deploymentBundleType: 'S3Object'
                deploymentBundleBucket: 'pruebas-devops1'
                deploymentBundleKey: '$(ARTIFACT_NAME)'
                versionLabel: '$(Build.BuildId)'

            - task: BeanstalkDeployApplication@1
              displayName: "Desplegar en Elastic Beanstalk"
              inputs:
                awsCredentials: 'AWS'
                regionName: '$(REGION)'
                applicationName: 'Pruebas'
                environmentName: 'Pruebas-env-2'
                deploymentBundleType: 'ExistingVersion'
                versionLabel: '$(Build.BuildId)'
