trigger:
  branches:
    include:
      - main  

variables:
  PYTHON_VERSION: '3.9'
  # El nombre del archivo ya incluye .zip al final
  ARTIFACT_NAME: 'HaroldSneiderOrosteguiAlfonso-$(Build.BuildId).zip'
  AWS_REGION: 'us-east-1'
  SERVICE_CONNECTION: 'AWS'

stages:
- stage: Build
  displayName: "Stage 1 - Integraci贸n Continua"
  jobs:
    - job: BuildJob
      displayName: "Compilar y Empaquetar"
      pool:
        vmImage: 'ubuntu-latest'
      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(PYTHON_VERSION)'
        
        - script: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            python -m unittest discover
          displayName: "Instalar dependencias y ejecutar pruebas"

        # Empaquetamos el c贸digo fuente
        - task: ArchiveFiles@2
          displayName: "Crear paquete ZIP"
          inputs:
            rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
            includeRootFolder: false
            archiveType: 'zip'
            archiveFile: '$(Build.ArtifactStagingDirectory)/$(ARTIFACT_NAME)'
            replaceExistingArchive: true

        # Publicamos el archivo ZIP como artefacto de la compilaci贸n
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(ARTIFACT_NAME)'
            ArtifactName: 'drop'
            publishLocation: 'Container'

- stage: Deploy
  displayName: "Stage 2 - Despliegue Continuo"
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
    - deployment: DeployJob
      displayName: "Desplegar en AWS"
      environment: "aws-deployment"
      pool:
        vmImage: 'ubuntu-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - task: S3Upload@1
              displayName: "Subir artefacto a S3"
              inputs:
                awsCredentials: '$(SERVICE_CONNECTION)'
                regionName: '$(AWS_REGION)'
                bucketName: 'pruebas-devops1'
                sourceFolder: '$(Pipeline.Workspace)/drop'
                globExpressions: '$(ARTIFACT_NAME)'
                

            - task: BeanstalkCreateApplicationVersion@1
              displayName: "Crear versi贸n en Elastic Beanstalk"
              inputs:
                awsCredentials: '$(SERVICE_CONNECTION)'
                regionName: '$(AWS_REGION)'
                applicationName: 'Pruebas'
                deploymentBundleType: 'S3Object'
                deploymentBundleBucket: 'pruebas-devops1'
                deploymentBundleKey: '$(ARTIFACT_NAME)' # No agregamos .zip porque ya lo tiene la variable
                versionLabel: '$(Build.BuildId)'


            - task: BeanstalkDeployApplication@1
              displayName: "Desplegar en Elastic Beanstalk"
              inputs:
                awsCredentials: '$(SERVICE_CONNECTION)'
                regionName: '$(AWS_REGION)'
                applicationName: 'Pruebas'
                environmentName: 'Pruebas-env-2'
                deploymentBundleType: 'ExistingVersion'
                versionLabel: '$(Build.BuildId)'
